* {
  padding: 0;
  margin: 0;
}

body {
  /* background: url("https://images.unsplash.com/photo-1518791841217-8f162f1e1131?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=300&q=60"); */
  background-position: 25% 75%;
  background-repeat: round;
}

.content-area {
  font-weight: bold;
  font-family: "Courier New", Courier, monospace;
  text-align: justify;
  font-size: 1.5rem;
  line-height: 1.5;
  color: rgba(16, 72, 50, 0.718);
}

#content-home {
  /* background-color: hsla(206, 39%, 45%, 0.9); */
  /* padding: 2rem; */
  margin: 2rem;
  border-radius: 1rem;
}
body > div > p {
  clear: both;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

body > div > p.primary {
  border: 4mm ridge rgba(211, 220, 50, 0.6);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: red;
  font-size: 15px;
  border: unset; /* Comment this line to see the effect of above code */
  border-bottom: dotted;
  border-color: olive;
  border-radius: 1rem;
  padding: 1rem;
  border-bottom-width: 10px;
}
